<div class="px-3 py-5 rounded-md border bg-blue-50">
  <div class="">
    <%= image_tag "https://placehold.co/330?text=#{product.code}", class: "rounded-lg"%>
    <p class="my-1">
    <strong class="font-medium mb-1">Code: </strong>
    <%= product.code %>
    </p>
    <p class="my-1">
    <strong class="font-medium mb-1">Name: </strong>
    <%= product.name %>
    <p class="my-1">
    <strong class="font-medium mb-1">Category: </strong>
    <%= product.category %>
    </p>
    <div>
      <%= link_to 'Show', product, class: "btn-primary" %>
    </div>
  </div>
</div>
